<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">

		<script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/output.css">
</head>
<style type="text/css">
	.bg1{
		background: #1e202c;
	}
	.bg2{
		background: #0BCA8D;
	}
	.bg3{
		background: #292b37;
	}
	.dot-pending{
		color: #f8ca30;
	}
	.dot-danger{
		color: #f8728a;
	}
	.dot-success{
		color: #0bcb90;
	}
	*{
		font-family: 'Arvo', serif;
	}
</style>
<body>

	<div class="container-fluid p-0">
		<div class="flex flex-row-reverse">
			<%- include('partials/sidebar') %>
			<!-- This is the End -->
			<div class="items-center justify-center flex flex-col h-fit w-full basis-4/5">
              
                <div class="p-3 w-full">
					<p class="float-left text-black font-weight-bold mb-0" style="font-size: 130%">Expenses</p>
					<button onclick="previous()" class="btn bg-[#0BCA8D] shadow-2xl float-right">Back</button>
					<div style="clear: both;"></div>
				</div>
                <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white bg-green-400 mt-12 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Dropdown button <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
                <!-- Dropdown menu -->
                <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                      <li>
                        <button onclick="viewHidden('chooseDate')" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Select Date</button>
                      </li>
                      <li>
                        <button onclick="viewHidden('selectMonth')" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Select Month</button>
                      </li>
                      <li>
                        <button onclick="viewHidden('selectYear')" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Select Year</button>
                      </li>
                      <li>
                        <button onclick="viewHidden('chooseBetween')" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Select Between</button>
                      </li>
                    </ul>
                </div>
               
                <form id="chooseDate" class="hidden" action="/api/expenses/get-selected-date" method="post">
                    <label style="font-size: 18px;" for="date-input">Choose a date:</label>
                    <input class="text-black" type="date" id="date-input" name="date">
                    <button class="text-lg bg-green-400 border border-white hover:bg-green-700 w-36 h-12 rounded-3xl" value="Select Date" onclick="">Select Date</button>
    
                    
                </form>
                <form id="selectMonth" class="hidden" action="/api/expenses/get-selected-date" method="post">
                    <label style="font-size: 18px;" for="date-input">Choose a Month of this Year:</label>
                    <input class="text-black" type="number" min="0" max="12" id="date-input" name="month">
                    <button class=" text-lg bg-green-400 border border-white hover:bg-green-700 w-36 h-12 rounded-3xl" value="Select Date" onclick="">Select Date</button>
    
                    
                </form>
                <form id="selectYear" class="hidden" action="/api/expenses/get-selected-date" method="post">
                    <label style="font-size: 18px;" for="date-input">Choose a Year:</label>
                    <input class="text-black" type="number" min="2023" id="date-input" name="year">
                    <button class="text-lg bg-green-400 border border-white hover:bg-green-700 w-36 h-12 rounded-3xl" value="Select Date" >Select Date</button>        
                </form>
                <form id="chooseBetween" class="hidden" action="/api/expenses/get-selected-date" method="post">
                    <label class="text-black" style="font-size: 18px;" for="date-input">Choose The Start and the end Date</label>
                    <div>
                        <label  class="text-lg text-black" for="startdate">Start Date</label>
                        <input class="text-black" type="date" id="startdate" name="chooseBetween">
                    </div>
                    <div>
                        <label class="text-lg text-black" for="enddate">End Date</label>
                        <input class="text-black" type="date" id="enddate" name="chooseBetween">
                    </div>
                    <button class="text-lg bg-green-400 border border-white hover:bg-green-700 w-36 h-12 rounded-3xl" value="Select Date" onclick="">Select Date</button> 
                </form>
                               <table class="users-info w-[50%] mt-12">
                                        <tr>
                                            <th>Sequence</th>
                                            <th>Item</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Method</th>
                                        </tr>
                                        <% for (let i = 0; i < expenses.length; i++) { %>
                                        <tr> 
                                            <td><%= (i+1) %></td>
                                            <td><%= expenses[i].name %></td>
                                            <td><%= expenses[i].amount %></td>
                                            <td><%= expenses[i].price %>$</td>
                                            <td>
                                                <a href="/api/expenses/delete/<%= expenses[i].id %>" class="p-2 rounded-xl bg-red-300 text-red-600 hover:bg-red-500 hover:text-red-700">Delete</a>
                                                <a href="/api/expenses/edit/<%= expenses[i].id %>" class="p-2 rounded-xl bg-white text-black ">Edit</a>
                                            </td>
                                          
                                        </tr>
                                        <% } %>
                                        
                               </table>
                                    <div class="flex flex-col mt-6">
                                              <h3>Add New Item</h3>
                                            <form class="flex flex-col items-center" action="/api/expenses/create" method="post">
                                                
                                                    <input type="text" class="rounded-xl py-3" placeholder="Item Name" name="name"/>
                                                    <div class="h-6"></div>
                                                    <input type="text" class="rounded-xl py-3" placeholder="Quantity" name="amount" />
                                                    <div class="h-6"></div>
                                                    <input type="text" class="rounded-xl py-3" placeholder="Price" name="price" />
                                                <button class="btn mt-6">Add</button>
                                            </form>
                                    </div>
				</div>
			
		</div>
	</div>
    <script>
        function previous() {
            window.history.back()
        }
    </script>
	<script src="/js/Checkout.js" defer></script>
	<script src="https://kit.fontawesome.com/c31ef39b02.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/dist/flowbite.min.js"></script>
<script src="/js/main.js" defer></script>

</body>
</html>
