<!DOCTYPE html>
<html>
<head>
	<title>Expenses</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/output.css">
</head>
<body>
<div class="flex-container">
	<div class="main-list" style="background-color: #0bca8d;width:460px;">
		<h1>Dashborad</h1>
		<div style="display: inline-flex;width: 100%;color: #000000;background-color: #ffffff;">
			<div style="font-size: 15px;margin-top: 29px;line-height: 1.2;margin-right: 93px;">
				<h2>ROONY</h2>
				<p>AD-IOS</p>
			</div>
			<img src="admin.jpg" style="width: 100px;height: 100px;margin-right: 45px;"/>
		</div>
		<div class="setting-list">
			<div>Setting</div>
			<div>Product</div>
			<div>Profit</div>
			<div>Expenses </div>
			<div>Invoice</div>
			<div>Users</div>
			<div>Log out</div>
		</div>
	</div>
    <div style="line-height: 50px;">
        <div style="direction:ltr;color:#000;position: absolute;background: none;border: none;margin: auto;top: 10px;width: 50%;">
            
            <label style="font-size: 18px;" for="date-input">Choose a date:</label>
            <input type="date" id="date-input" name="date-input">
            <input type="button" class="btn" style="width: 15%;
            font-size: 15px;
            height: 30px;" value="Select Date" onclick="">
            <button class="btn" style="margin-left: 350px;">Back</button>
        </div>
	<div id="userpage" style="padding-top: 75px;">
                <div class="container">
                   <table class="users-info" style="width: 70%;">
                            <tr>
                                <th>Sequence</th>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Method</th>
                            </tr>
                            <% for (let i = 0; i < expenses.length; i++) { %>
                            <tr> 
                                <td><%= (i+1) %></td>
                                <td><%= expenses[i].name %></td>
                                <td><%= expenses[i].amount %></td>
                                <td><%= expenses[i].price %>$</td>
                                <td>
                                    <a href="/api/expenses/delete/<%= expenses[i].id %>" class="p-3 rounded-xl bg-red-300 text-red-600 hover:bg-red-500 hover:text-red-700">Delete</a>
                                    <a href="/api/expenses/edit/<%= expenses[i].id %>" class="p-3 rounded-xl bg-white text-black hover:bg-black hover:text-white">Edit</a>
                                </td>
                              
                            </tr>
                            <% } %>
                            
                   </table>
                </div>
                    <div class="container">
                        <div class="addnew-user-customer-details">
                                    <p style="color: red"></p>
                                  <h3>Add New Item</h3>
                                <form action="/api/expenses/create" method="post">
                                    <div class="form-control">
                                    
                                        <input type="text" placeholder="Item Name" name="name"/>
                                    </div>
                                    <div class="form-control">
                                    
                                        <input type="text" placeholder="Quantity" name="amount" />
                                    </div>
                                    <div class="form-control">
                                    
                                        <input type="text" placeholder="Price" name="price" />
                                    </div>
                                    <button class="btn">Add</button>
                                </form>
                        </div>
                    </div>
    </div>
	</div>
</div>
</body>
</html>
