<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">

		<script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/output.css">
</head>
<style type="text/css">
	.bg1{
		background: #1e202c;
	}
	.bg2{
		background: #0BCA8D;
	}
	.bg3{
		background: #292b37;
	}
	.dot-pending{
		color: #f8ca30;
	}
	.dot-danger{
		color: #f8728a;
	}
	.dot-success{
		color: #0bcb90;
	}
	*{
		font-family: 'Arvo', serif;
	}
</style>
<body>
	
	<div class="container-fluid p-0">
		
		<div class="flex flex-row-reverse">
			
			<!-- This is the End -->
			<div class="flex flex-col justify-center h-fit w-full basis-4/5">
				<% if (message) { %>
					<div class="p-2 w-[60%] mx-auto rounded-xl <%= message.bgColor %> <%= message.textColor %> text-center my-4">
						<h1 class="text-lg"><%= message.message %></h1>
				</div>
				<% } %>
				<div class="grid grid-cols-6 grid-col gap-4 items-start justify-start h-fit w-full">
					<% tables.forEach((table) => { %>
						<% if (table.isFree == true) { %>
						<a class="p-2 text-white text-center" href="/api/invoice/create/<%= table.tableNumber %>">
							<div class="p-3 bg-slate-800 rounded-2xl">
								<h1><%= table.tableNumber %></h1>
								<div class="float-right rounded-full w-2 h-2 bg-green-400"></div>
							</div>
						</a>
						<% } else { %>
							<a class="p-2 text-white text-center" href="/api/invoice/edit/<%= table.tableNumber %>">
								<div class="p-3 bg-slate-800 rounded-2xl">
									<h1><%= table.tableNumber %></h1>
									<div class="float-right rounded-full w-2 h-2 bg-red-600"></div>
								</div>
							</a>
							<% } %>
							<% }) %>
				</div>
			</div>
			<%- include('partials/sidebar') %>
			
		</div>
	</div>
	<script src="/js/Checkout.js" defer></script>
	<script src="https://kit.fontawesome.com/c31ef39b02.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>