<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/invoice/create" method="post">
        <% products.forEach(function(product){ %>
            <div>
                <div>
                    <h1><%= product.name %></h1>
                    <h1><%= product.type %></h1>
                    <h1><%= product.price %>$</h1>
                    <img src="<%= product.pic_url %>" alt="">
    
                    <input type="radio" id="add_<%= product.name %>" name="<%= product.id %>" value="yes">
                </div>
                <div>
                    <input type="number" id="quantity_<%= product.name %>" name="<%= product.id %>" min="0" max="20">
                </div>
            </div>
          <% }); %>
          <button>Submit</button>
    </form>
    
</body>
</html>