<!DOCTYPE html>
<html lang="en" class="h-[100vh]">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/output.css" rel="stylesheet">
    <!-- JQuery -->
    <script
			  src="https://code.jquery.com/jquery-3.6.4.min.js"
			  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
			  crossorigin="anonymous">
    </script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
            
    <title>Document</title>
</head>
<body onload="form.reset();" class="h-full">
    <!--  -->
    <div class="flex w-full h-full ">
        <div class="bg-green-400 basis-1/5 w-full h-full ">
            
            <form id="form" class="flex flex-col justify-between h-full" action="/api/invoice/edit/<%= tableNumber %>" method="post">
                <input type="text" id="finish" name="finish" value="Yes" class="hidden">
                <div id="addStuffTo" class="flex flex-col justify-center items-center">
                    <h1 class="pl-4" >Manage</h1>
                    <% for (let i =0; i < order.orderFood.length; i++) { %>
                        <div id="order_<%= order.orderFood[i].product.id %>" class="bg-white p-x mt-3 rounded-md text-center p-1 flex flex-row w-72 h-16">
                            <div class="basis-1/3">
                                <img class="w-full h-full" src="<%= order.orderFood[i].product.pic_url %>">
                            </div>
                            <div class="basis-2/3 flex flex-row justify-between h-full">
                                <div>
                                    <h1><%= order.orderFood[i].product.name %></h1>
                                    <!-- <input class="w-16 h-6" value="<%= order.orderFood[i].amount %>" type="number" name="<%= order.orderFood[i].product.id %>" min="1"> -->
                                    <h1 class="hidden"><%= order.orderFood[i].product.price %></h1>
                                        <div class="flex flex-row justify-center">
                                            <div class="input-group-prepend">
                                                <button onclick="decrement(event)" type="button">-</button>
                                            </div>
                                            <input name="<%= order.orderFood[i].product.id %>" value="<%= order.orderFood[i].amount %>" class="w-12 h-6" type="number" name="count" min="1" style="appearance: textfield;">
                                            <div class="input-group-append">
                                                <button onclick="increment(event)" type="button">+</button>
                                            </div>
                                        </div>
                                    
                                </div>
                                <div class="flex flex-col items-center justify-center">
                                    <button onclick='removeEle("order_<%= order.orderFood[i].product.id %>")' class="bg-black-900">X</button>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
                <div>
                    <div class="p-8 text-center">
                        <button id="voucher_button" class="text-center border bg-gray-800 text-xs text-white rounded-3xl p-2 hover:bg-slate-700 hover:text-black" onclick="viewVoucher()">Add Voucher Code</button>
                    
                    </div>
                    <div id="view_voucher" class="px-8 pb-8 hidden">
                        <input type="text" class="hidden" name="voucherValue" id="voucherValue" value="<%= order.voucher %>">
                        <input class="w-[60%] h-8 rounded-2xl" placeholder="Voucher Code" type="text" name="voucher" id="voucher">
                        <button class="border bg-gray-800 text-xs text-white rounded-3xl p-2 hover:bg-slate-700 hover:text-black" onclick="checkVoucher()">Add Voucher</button>
                    </div>
                    <div class="px-8 pb-2">
                        <input class="w-[60%] h-8 rounded-2xl" type="text" value="<%= order.wholePrice %>$" readonly name="wholePrice" id="whole_price">
                        <button class="border bg-slate-400 text-xs text-white rounded-3xl p-2 hover:bg-slate-700" type="submit">Check out</button>
                    </div>
                </div>
            </form>
        </div>

            <div class="bg-blue basis-4/5 w-full h-full">
                <div class="p-3">
					<p class="float-left text-black font-weight-bold mb-0" style="font-size: 130%">Checkout</p>
					<button onclick="goBack()" class="btn bg-[#0BCA8D] text-lg w-16 h-8 rounded-2xl hover:bg-green-700 shadow-2xl float-right" id="back">Back</button>
                    <div style="clear: both;"></div>

				</div>
                    <div class="p-3">
                        <p class="text-black  font-weight-bold float-right" style="font-size: 130%">POINT OF SALE</p>
    
                        <div class="bg2 float-left  flex flex-row justify-between items-center border-2 bg-green-400 rounded-3xl" style="height: 50px;display: flex;">
                            <input class="p-2  border-2 rounded-3xl focus:bg-black text-white" id="findFood" oninput="findFood()" onchange="findFood()" type="search" name="">
                            <button onclick="findFood()">
                                <div class="text-center" style="width: 50px;height: 50px;">
                                    <i class="fa fa-search text-black" aria-hidden="true" style="font-size: 130%;line-height: 48px;opacity: 0.8"></i>
                                </div>
                            </button>
    
                        </div>
                        <div class="bg2 ml-2 float-left text-center" style="width: 100px;height: 50px;">
                            <p class="text-black" style="line-height: 49px">Food</p>
                        </div>
                        <div class="bg2 ml-2 float-left text-center" style="width: 100px;height: 50px;">
                            <p class="text-black" style="line-height: 49px">Drink</p>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
            <div class="grid md:grid-cols-4 grid-cols-3 gap-4 px-4" id="foods">
               <!-- thing[i] => [0] => [0] => [1] => [0] -->
                <% products.forEach((product) => { %>
                <button onclick="addEle('<%= product.id %>')" href="">
                    <div class="bg-green bg-green-400 rounded-3xl text-center p-4 flex flex-row" id="<%= product.id %>">
                        <div class="basis-1/3">
                            <img class="w-[60px]"  src="<%= product.pic_url %>">
                        </div >
                        <div class="basis-2/3">
                            <h1><%= product.name %></h1>
                            <h1><%= product.price %>$</h1>
                        </div>
                    </div>
                </button >
               <% }) %>
                   
                
            </div>
        </div>
    </div>
    <div class="hidden" id="codes">
        <% vouchers.forEach((voucher) => { %>
            <h1 value="" name="" id="<%= voucher.id %>|<%= voucher.value %>"><%= voucher.code %></h1>
        <% }) %>
    </div>
</div>
    <script src="/js/main.js"></script>
</body>
</html>
