<!DOCTYPE html>
<html>
<head>
	<title>Products</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">

		<script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>

        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/output.css">
</head>
<style type="text/css">
    
	.bg1{
		background: #1e202c;
	}
	.bg2{
		background: #0BCA8D;
	}
	.bg3{
		background: #292b37;
	}
	.dot-pending{
		color: #f8ca30;
	}
	.dot-danger{
		color: #f8728a;
	}
	.dot-success{
		color: #0bcb90;
	}
	*{
		font-family: 'Arvo', serif;
	}
</style>
<body>
<div class="flex flex-row-reverse">
	<%- include('partials/sidebar') %>
    
	<div class="flex flex-col justify-center items-center bg-white basis-4/5">
        <div class="w-[65%] flex flex-row justify-between">
            <button class="btn" onclick="goBack()">Back</button>
           <a class="btn w-fit" href="/api/products/create">add product</a>
        </div>
        <table class="w-[50%] mt-4" style="background-color: #fdf5f5a2;">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Type</th>
                <th>Method</th>
            </tr>
            <% products.forEach((product) => { %>
            <tr>
                <td><img class="img"  src="<%- product.pic_url %>"></td>
                <td><%= product.name %></td>
                <td><%= product.price %>$</td>
                <td><%= product.type %></td>
                <td>
                    <a href="/api/products/edit/<%= product.id %>"><button class="btn">Edit</button></a>
                    <a href="/api/products/delete/<%= product.id %>"><button class="btn">Delete</button></a>
                </td>
            </tr>
            <% }) %>
        </table>
	</div>
</div>
<script src="https://kit.fontawesome.com/c31ef39b02.js" crossorigin="anonymous"></script>
<script>
    function goBack() {
        window.history.back()
    }
</script>
</body>
</html>
