<!DOCTYPE html>
<html>
<head">
	<title>Profit</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
    <link href="/output.css" rel="stylesheet">

    

</head>
<body>
    <div class="flex-container min-h-[100vh] justify-center items-center">
        
        <form class="w-[40%] bg-blue-400 p-8 rounded-2xl text-white" action="/api/users/change-password/<%= user.id %>" method="post">
            <% if (message) { %>
            <div class="p-4 rounded-xl <%= message.bgColor %> <%= message.textColor %> text-center mt-12">
                <h1><%= message.message %></h1>
            </div>
            <% } %>
            <div class=" p-4 text-white flex flex-col justify-start">
                <h1 class="text-left">Full Name: <%= user.fullName %></h1>
                <h1 class="text-left">Email: <%= user.email %></h1>
                <h1 class="text-left mt-8">Is a worker: <%= user.isWorker %></h1>
                <h1 class="text-left">Is an admin: <%= user.isAdmin %></h1>
                
            </div>
            <a class="text-white p-2 w-fit rounded-2xl bg-green-400 hover:bg-green-700 hover:text-black" href="/api/users/change-username/<%= user.id %>">Change Username</a>

            <div class="text-center p-2 mt-4">
                <h1 class="text-center p-2">Edit Password</h1>
                <label for="full_name">Old Password</label>
                <input autocomplete="off" class="text-black rounded-2xl p-2 " type="password" id="full_name" name="oldPassword">
            </div>
            <div class="text-center p-2">
                <label for="newPassword">New Password</label>
                <input class="text-black rounded-2xl p-2 " type="password" id="newPassword" name="newPassword">
            </div>
            <div class="w-full flex justify-center mt-6">
                <button class="bg-slate-800 rounded-2xl mx-auto w-24 h-12 text-center hover:bg-slate-300 hover:text-black" type="submit">Submit</button>
            </div>
        </form>
    </div>
<script src="/js/main.js" defer></script>
	
<script type="text/JavaScript" src="https://MomentJS.com/downloads/moment.js"></script>
<script src="../node_modules/flowbite/dist/flowbite.min.js"></script>

</body>
</html>
